html {
  scroll-behavior: smooth;
  color-scheme: light only;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f9f9f9;
  color: #333;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero h1 {
  text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

section {
  padding: 100px 80px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

section:not(.hero):not(.contact-section):nth-child(even) {
  background: #f8d7da;
}

section h2 {
  font-size: 42px;
  margin-bottom: 20px;
  position: relative;
  letter-spacing: 1px;
}

.quote {
  background: #f8cdd2;
  color: black;
  padding: 20px;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 1px;
}

.fade {
  opacity: 0;
  transform: translateY(50px);
  transition: 0.6s;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  color: black;
  border-bottom: 1px solid #eee;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav a {
  color: black;
  text-decoration: none;
  position: relative;
  font-size: 14px;
}

nav a:hover {
  color: #e89cae;
  text-decoration: underline;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #f4b6c2;
  bottom: -3px;
  left: 0;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

nav h2 {
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
}

.hero {
  height: 100vh;
  background: url(images/main2.jpeg);
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.hero-content {
  position: relative;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 60px;
  letter-spacing: 2px;
  font-weight: 700;
}

.hero p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #ddd;
}

.hero button {
  padding: 10px 20px;
  border: none;
  background: #fff;
  color: black;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}

.hero button:hover {
  background: #f4b6c2;
  color: black;
}

.about p {
  margin-bottom: 20px;
  line-height: 2.4;
  letter-spacing: 0.9px;
}

.about-content {
  display: flex;
  align-items: stretch;
  gap: 50px;
  justify-content: space-between;
}

.about-content div {
  max-width: 400px;
  text-align: left;
}

.about button {
  margin-top: 20px;
}

.about-btn {
  margin: 20px auto 0;
  display: inline-block;
}

.about img {
  width: 350px;
  max-width: 400px;
  border-radius: 10px;
  flex: 1;
}

.about-img {
  flex: 1;
}

.about-text {
  flex: 1;
  text-align: left;
  max-width: 100%;
}

.about-img img {
  width: 100%;
  height: 85%; 
  object-fit: cover; 
  border-radius: 10px;
  object-position: top;
}

.about-btn {
  margin-top: 20px;
}

.about h2 {
  text-align: left;
}

.about h2::after {
  margin: 10px auto;
}

.service-box {
  display: flex;
  justify-content: center;
  gap: 100px;
  border: 6px solid #f4b6c2;
  padding: 40px;
  margin-top: 20px;
  background: white;
  flex-wrap: wrap;
}

.service-box ul {
  list-style: none;
  text-align: left;
  width: 250px;
}

.service-box li {
  margin-bottom: 12px;
  position: relative;
  padding-left: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.service-box i {
  color: #f4b6c2;
  font-size: 14px;
}

.service-box li:hover {
  transform: translateX(5px);
  transition: 0.3s;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  padding: 20px;
  border: 3px solid #f4b6c2;
  background: white;
  color: black;
  width: 150px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card i {
  font-size: 30px;
  margin-bottom: 10px;
  color: #ff4d6d;
}

.stylists {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.stylist {
  padding: 20px;
  border: 3px solid #f4b6c2;
  background: white;
  color: black;
  width: 150px;
  transition: 0.3s;
}

.stylist:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.stylist small {
  display: block;
  font-size: 12px;
  color: #999;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.stylist h3 {
  font-size: 28px;
  font-weight: 600;
}

.product-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.products {
  display: flex;
  scroll-behavior: smooth;
  gap: 20px;
  border-radius: 5px;
  overflow-x: auto;
  padding: 10px;
}

.products img {
  width: 220px;
  border-radius: 10px;
  transition: 0.3s;
  flex-shrink: 0;
}

.products::-webkit-scrollbar {
  display: none;
}

.products img:hover {
  transform: scale(1.05);
}

.scroll-btn {
  position: absolute;
  top: 50%;
  background: white;
  border: none;
  font-size: 25px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  z-index: 10;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  padding: 10px;
}

#contact {
  padding-bottom: 100px;
}

button {
  background: #f4b6c2;
  color: black;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  background: #e89cae;
  transform: scale(1.05);
  transition: 0.3s;
}

.contact-section {
  position: relative;
  background: url("images/contact1.jpeg") center/cover no-repeat;
  padding: 100px 50px;
  color: white;
}

.contact-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.contact-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 40px;
}

.contact-form {
  max-width: 400px;
  margin-right: 40px;
}

.contact-form h2 {
  margin-bottom: 10px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.contact-form button:hover {
  background: #e89cae;
}

.contact-content {
  position: relative;
  text-align: center;
}

.contact-heading {
  margin-bottom: 40px;
}

.sub-text {
  margin-bottom: 20px;
  color: #ddd;
}

.info-box i {
  font-size: 25px;
  color: #f4b6c2;
  margin-bottom: 8px;
}

.info-box h3 {
  font-size: 22px;
  letter-spacing: 1px;
}

.info-box p {
  font-size: 14px;
  color: #ddd;
}

footer {
  background: #f1f1f1;
  color: #555;
  padding: 15px;
  text-align: center;
  margin-top: auto;
}

@media (max-width: 768px) {

  nav {
    flex-direction: column;
    gap: 10px;
    padding: 15px 15px;
  }

  nav h2 {
    font-size: 18px;   
  }

  nav ul {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  nav li {
    flex: 1;  
    text-align: center;
  }

  nav a {
    font-weight: 500;
    font-size: 13px;
    display: block;
    padding: 5px 0;
  }

  .hero {
    height: 80vh;
    padding: 20px;
    text-align: center;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 14px;
  }

  section {
    padding: 60px 20px;
  }

  section h2 {
    font-size: 28px;
  }

  .about-content {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
  }

  .about-content div {
    max-width: 100%; 
  }

  .about-text {
    text-align: center;
    width: 100%;
    max-width: 100%;
    position: relative;
    margin-bottom: -40px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 10px;
    order: 1;
  }

  .about-img {
    width: 85%;
    margin: 0 auto;
    order: 2;
    max-width: 95%;
    display: flex;
    justify-content: center;
  }

  .about-img img {
    height: auto;
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin: 35px auto 0;
  }

  .about-btn {
    display: block; 
    margin: 15px auto 0; 
    order: 3;
  }

  .quote {
    padding: 10px 12px; 
    font-size: 12px; 
    line-height: 1.4;
    opacity: 0.9; 
  }

  .quote p br {
    display: none; 
  }

  .service-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .service-box ul {
    width: 100%;
    padding: 0; 
    text-align: left;
  }

  .service-box li {
    font-size: 10px; 
    line-height: 1.5;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    gap: 6px;
  }

  .service-box i {
    font-size: 10px;
    gap: 6px;
    line-height: 1.5;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; 
  }

  .card {
    width: 90%; 
    padding: 15px;
    font-size: 14px; 
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .stylists {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px; 
  }

  .stylist {
    width: 100%; 
    padding: 15px; 
  }

  .stylist small {
    font-size: 10px; 
  }

  .stylist h3 {
    font-size: 16px; 
  }

  .products img {
    width: 150px;
  }

  .scroll-btn {
    display: block; 
    font-size: 18px; 
    padding: 6px;
    background: rgba(255, 255, 255, 0.8);
  }

  .scroll-btn.left {
    left: 5px; 
  }

  .scroll-btn.right {
    right: 5px; 
  }

  .contact-section {
    padding: 50px 15px;
  }

  .contact-container {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    display: flex;
  }

  .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    gap: 10px;
    order: 2;
  }

  .info-box {
    width: 48%; 
    text-align: center;
  }

  .info-box h3 {
    font-size: 13px;
  }

  .info-box p {
    font-size: 11px;
  }

  .info-box i {
    font-size: 16px;
  }

  .contact-form {
    margin: 0;
    width: 100%;
    order: 1;
  }

  .contact-form::after {
    content: "";
    display: block;
    height: 2px;
    background: #f4b6c2;
    margin: 15px 0;
  }

  .sub-text {
    font-size: 12px;
    text-align: center;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 12px;
  }

  .contact-form button {
    width: 100%;
    padding: 10px;
    font-size: 13px;
  }

  footer {
    font-size: 12px; 
    padding: 10px; 
    text-align: center;
    letter-spacing: 1px;
  }

  footer p {
    line-height: 1.5;
  }

  section h2 {
    font-size: 22px; 
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  .contact-heading {
    font-size: 25px; 
  }
}
